<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MPH.Web</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production">
        <link href="~/css/dist/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="wrapper">
        <header class="header__content">
            <nav>
                <h2>MyImagesHub</h2>
                <ul>
                </ul>
                <button>
                    LogIn
                </button>
            </nav>
        </header>
        <main class="main__content">
            @RenderBody()
        </main>
        <footer class="footer__content">
            &copy; 2023 - MIH.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>